layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="nix" cwd="utkarsh/nix"

    tab name="config" cwd="utkarsh/nix/config" focus=true

    tab name=".config" cwd=".config"
}
