layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }

    tab name="astrocommunity" cwd="utkarsh/solo/astrocommunity"

    tab name="config" cwd=".config/nvim" focus=true

    tab name="share" cwd=".local/share/nvim"

    tab name="state" cwd=".local/state/nvim"
}
