layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        children
    }

    tab name="cargo" cwd="~/tensorfox/galleon"

    tab name="tfx" cwd="~/tensorfox/galleon"

    tab name="ctl" cwd="~/tensorfox/controller"

    tab name="xc" cwd="~/tensorfox/crosschain" focus=true

    tab name="opp" cwd="~/tensorfox/crosschain"

    tab name="learning" cwd="~/tensorfox/learning"

    tab name="learn" cwd="~/tensorfox/learning"
}
